.login__container {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
}
.login__container.step {
    width: 300px;
}


.login__title {
    margin-bottom: 35px;;
    font-size: 30px;
    font-weight: 500;
}

.login__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    margin-top: 19px;
}
.login__buttons.down {
    margin-top: 0;
}

.login__buttons button{
    border-radius: 33px;
    border: none;
    height: 37px;
    color: rgb(15, 20, 25);
    font-weight: 600;
    font-size: 14.5px;
    cursor: pointer;
    transition: all .15s ease;
}
.login__buttons button.login__forgot__button{
    background-color: transparent;
    border: 1px solid #ffffff84;
    color: #fff;
}
.login__buttons button.login__forgot__button:hover{
    background-color: #ffffff23;
}
.login__buttons button:hover {
    background-color: #dfdfdf;
}

.login__line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 19px 0;
}
.login__line div{
    height: 1px;
    width: 100%;
    background-color: rgb(51, 54, 57);
}
.login__line span{
    margin: 0 8px;
}

.login__input {
    margin-bottom: 34px;
}

.login__signUp {
    margin-top: 55px;
    font-size: 15px;
}
.login__signUp span{
    color: #747474;
}
.login__signUp span a{
    color: #1D9BF0;
}
.login__signUp span a:hover{
    text-decoration: underline;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login__form_last {
    width: 438px;
}
.login__form_last a {
    margin-left: 5px;   
    color: #1D9BF0;
    font-size: 13px;
}
.login__form_last a:hover {
    text-decoration: underline;
}
.login__buttons.form__button button{
    height: 50px;
    font-size: 17px;
}
.login__buttons.form__button button.login__disabled__button{
    opacity: .6;
    pointer-events: none;
}

.login__form__signUp {
    margin-top: 5px;
    font-size: 16px;
}