.post__section {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #8080806f;
    padding-bottom: 15px;
    padding: 10px 10px 0;
    cursor: pointer;
}

.post__avatar{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease;
}
.post__avatar img{
    position: relative;
    width: 100%;
    object-fit: cover;
}
.post__avatar img:hover{
    filter: brightness(88%);
}

.post__body {
    width: 100%;
    padding: 0px 10px 10px;
}
.post__section .tweet__post{
    max-height: 530px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.post__headerText h3 {
    font-size: 15px;
    margin-bottom: 8px;
}
.post__headerText h3 a:hover{
    text-decoration: underline;
}

.post__headerText h3 small {
    color: #71767B;
    font-weight: 400;
    font-size: 15px;
}
.post__description{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 12px;
}

.valid svg,
.post__footer svg,
.post__option svg{
    padding-top: 5px;
    height: 1.3rem !important;
    fill: var(--blue);
}

.post__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
}
.post__footer li{
    max-width: 80px;
    font-size: 13px;
    color: #71767B;
    width: 100%;
    display: flex;
    align-items: center;
}
.post__footer li span{
    width: 35px;
    height: 35px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .3s ease;
    margin-right: 2px;
}
.post__footer li:hover svg{
    fill: #1d9bf0;  
}
.post__footer li:hover span{
    background-color: #1d9cf02f;  
}
.post__footer li:hover{
    color: #1d9bf0;  
    transition: all .3s ease;
}
.post__footer li.Like__icon:hover svg{
    fill: #F91880;  
}
.post__footer li.Like__icon:hover span{
    background-color: #f9188131;  
}
.post__footer li.Like__icon:hover{
    color: #F91880;  
    transition: all .3s ease;
}
.post__footer li.Reweet__icon:is(:hover,.reetweet) svg{
    fill: #00B075;  
}
.post__footer li.Reweet__icon:hover span{
    background-color: #00b0754c;  
}
.post__footer li.Reweet__icon:is(:hover,.reetweet){
    color: #00B075;  
    transition: all .3s ease;
}
.post__footer svg{
    height: 1.4rem !important;
    fill: #71767B;
    padding: 1px;
    cursor: pointer;
}

.post__option svg {
    fill: #71767B;
}
.post__option {
    cursor: pointer;
    padding-top: 1px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: all .3s ease;
}
.post__option:hover{
    background-color: #1d9cf063;
}
.post__headerText {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:root {
    --blue: #1d9bf0;
    --black: #000;
    --text-color: #e7e9ea;
    --gray: #71767B;
    --second-title: rgb(106, 108, 109);
}