.twitter__form__group {
    position: relative;
    border-radius: 4px;
    border: .5px solid #858484;
}

.twitter__form__group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 17px;
    pointer-events: none;
    color: #888585;
    font-weight: 500;
    transition: .2s;
}

.twitter__form__group input {
    background-color: transparent;
    outline: none;
    border: none;
    height: 44px;
    font-size: 17px;
    width: 298px;
    padding: 0 10px;
    margin-top: 10px;
}
.twitter__form__group input:focus-within ~  label,
.twitter__form__group input:not(:placeholder-shown) ~  label{
    top: 13px;
    color: #1D9BF0;
    font-size: 13px;
}