.main {
    width: 610px;
    height: 100%;
    /* height: 2000PX; */
    overflow: auto;
    padding-bottom: 66px;
    border-right: 1px solid rgba(128, 128, 128, 0.436);
    margin-right: 25px;
}
@media (max-width: 1280px) {
    .main{
      margin-right: 0;
    }
}